@{
    ViewData["Title"] = "Yeni Hastane Ekle";
}


@model BloodDonation.Web.Models.Hospital.AddViewModel


<div class="row">
    <div class="col-md-12">
        <div class="">
            <h4 class="card-header text-center bg-white mb-3">
                Yeni Hastane Ekle
            </h4>
            <div class="card-body">

                @using (Html.BeginForm("Add", "Hospital", FormMethod.Post, new { @class = "form-horizontal input-sm" }))
                {
                    <div class="form-group row my-2">
                        <label class="col-md-2 col-form-label">Hastane Adı</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block text-danger" })
                        </div>
                    </div>

                    <div class="form-group row my-2">
                        <label class="col-md-2 col-form-label">Adres</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.Address, null, new { @class = "help-block text-danger" })
                        </div>
                    </div>

                    <div class="form-group row my-2">
                        <label class="col-md-2 col-form-label">Telefon</label>
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control input-sm", @type="tel"})
                            @Html.ValidationMessageFor(m => m.Phone, null, new { @class = "help-block text-danger" })
                        </div>
                    </div>

                    <div class="form-group row my-3">
                        <div class="col-md-12 text-center center-text">
                            <button class="btn btn-success" type="submit" id="btnSubmit">
                                <i class="fa fa-dot-circle-o"></i> Ekle
                            </button>
                            &nbsp;
                            <a class="btn btn-danger" href="~/Hospital/List">
                                <i class="fa fa-ban"></i> İptal
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            @if (ViewBag.ErrorMessage != null && !string.IsNullOrEmpty(ViewBag.ErrorMessage))
                            {
                                <div class="text-danger">
                                    @ViewBag.ErrorMessage
                                </div>
                            }
                            @if (ViewBag.ErrorMessageList != null)
                            {
                                <div class="text-danger">
                                    @foreach (var item in ViewBag.ErrorMessageList)
                                    {
                                        <span>@item</span>
                                        <br />
                                    }
                                </div>
                            }

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- /.col-->
</div>